**.aux
**.bbl
**.brf
**.log
**.nlo
**.out
**.gz
**.blg
**.fls
**.fdb_latexmk

**:Zone.Identifier

tex2docx/__pycache__/
tex2docx/*.egg-info/

my_workbench/*
draft.ipynb

build
dist
*.egg-info
TODO.md
external
tests/__pycache__/
tests/**/figures
tests/**/temp_subtexfile_dir
tests/**/*.docx